body{
	background-color: black;
	color: white;
}

button{
	border : solid 2px #000000;
	border-radius : 3px;
	moz-border-radius : 3px;
	-webkit-box-shadow : inset 0px 0px 15px rgba(0,0,0,1.0);
	-moz-box-shadow : inset 0px 0px 15px rgba(0,0,0,1.0);
	box-shadow : inset 0px 0px 15px rgba(0,0,0,1.0);
	font-size : 20px;
	color : #ffffff;
	padding : 15px 20px;
	background : #f01313;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f01313), color-stop(100%,#000000));
	background : -moz-linear-gradient(top, #f01313 0%, #000000 100%);
	background : -webkit-linear-gradient(top, #f01313 0%, #000000 100%);
	background : -o-linear-gradient(top, #f01313 0%, #000000 100%);
	background : -ms-linear-gradient(top, #f01313 0%, #000000 100%);
	background : linear-gradient(top, #f01313 0%, #000000 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#f01313', endColorstr='#000000',GradientType=0 );

}

#fighterHpBar, #bossHpBar {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: lightgreen;
}

#fighterHpContainer, #bossHpContainer {
	position: relative;
	height: 30px;
	width: 250px;
	border: white 3px solid;
	border-radius: 3px;
	margin-right: 20px;
	display: inline-block;
}