body{
	background-color: black;
	color: white;
	text-align: center;
}

button{
	border : solid 2px #000000;
	border-radius : 3px;
	moz-border-radius : 3px;
	-webkit-box-shadow : inset 0px 0px 15px rgba(0,0,0,1.0);
	-moz-box-shadow : inset 0px 0px 15px rgba(0,0,0,1.0);
	box-shadow : inset 0px 0px 15px rgba(0,0,0,1.0);
	font-size : 20px;
	color : #ffffff;
	padding : 15px 20px;
	background : #f01313;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f01313), color-stop(100%,#000000));
	background : -moz-linear-gradient(top, #f01313 0%, #000000 100%);
	background : -webkit-linear-gradient(top, #f01313 0%, #000000 100%);
	background : -o-linear-gradient(top, #f01313 0%, #000000 100%);
	background : -ms-linear-gradient(top, #f01313 0%, #000000 100%);
	background : linear-gradient(top, #f01313 0%, #000000 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#f01313', endColorstr='#000000',GradientType=0 );

}

#header{
	background-image: none;
	background: url("../imgs/background.png");
	background-size: cover;
	width: 100%;
	height: 100px;
}
#title{
	font-size: 100px;
	float: left;
	clear: both;

}
 #list, a, li{
 	text-decoration: none;
 	color: white;
 	list-style: none;
 	float: right;
 	margin-left: 45px;
 }

#boxContainer{
	width: 50%;
	height: 60px;
	margin-left: 25%;
}

#btnsContainer{
	float: right;
	clear: both;
}
#backgroundContainer{
	background-image: none;
	background-color: red;
	height: 600px;
	width: 100%;
	background: url("../imgs/ocean.jpeg");
	background-size: cover;
    background-repeat: no-repeat;
    clear: both;
}
#statsContainer{
	bottom: 0;
	position: relative;
	float: left;
	clear: both;
}
#fighterImgContainer{
	float: left;
	display: inline-block;
}

#bossImgContainer{
	display: inline-block;
	float: right;
	clear: right;
}

#fighterHpBar{
	position: absolute;
	top: 0;
	left: 0;
	height: 50%;
	width: 100%;
	background: lightgreen;
}
#fighterManaBar {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50%;
	width: 100%;
	background: blue;
}

#bossHpBar {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: lightgreen;
}
#hpContainers{
	width: 100%;
	height: 60px;
}
#fighterHpContainer, #bossHpContainer {
	position: relative;
	clear: both;
	height: 30px;
	width: 700px;
	border: white 3px solid;
	border-radius: 3px;
	margin-right: 20px;
	margin-left: 0;
	display: inline-block;
	
}
#footer{
	background-color: #708090;
	text-align: center;
	position: absolute;
	background-attachment: scroll;
	bottom: 0;
	width:100%;
	clear: both;

}

